<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mcdodik.springai.db.mybatis.mapper.RagChunkMapper">


    <resultMap id="RagChunkResultMap" type="mcdodik.springai.db.model.RagChunkEntity">
        <constructor>
            <arg name="id" column="id" javaType="java.util.UUID"
                 typeHandler="mcdodik.springai.db.mybatis.handler.UUIDTypeHandler"/>
            <arg name="content" column="content"/>
            <arg name="embedding" column="embedding" javaType="java.util.List"
                 typeHandler="mcdodik.springai.db.mybatis.handler.FloatListTypeHandler"/>
            <arg name="type" column="type"/>
            <arg name="source" column="source"/>
            <arg name="chunkIndex" column="chunk_index" javaType="java.lang.Integer"/>
            <arg name="fileName" column="file_name"/>
            <arg name="extension" column="extension"/>
            <arg name="hash" column="file_hash"/>
            <arg name="createdAt" column="created_at" javaType="java.time.LocalDateTime"/>
        </constructor>
    </resultMap>

    <!-- Поиск по embedding -->
    <select id="searchByEmbedding" resultMap="RagChunkResultMap">
        <![CDATA[
        SELECT id,
               content,
               embedding,
               type,
               source,
               chunk_index,
               file_name,
               extension,
               file_hash,
               created_at
        FROM public.rag_chunks
        ORDER BY embedding <#> CAST(
                #{embedding, jdbcType=OTHER, typeHandler=mcdodik.springai.db.mybatis.handler.FloatListTypeHandler}
            AS vector
        ) DESC
        ]]>
    </select>

    <!-- Вставка rag-чанк -->
    <insert id="insert" parameterType="mcdodik.springai.db.mybatis.handler.UUIDTypeHandler">
        INSERT INTO rag_chunks (
        id,
        content,
        embedding,
        type,
        source,
        chunk_index,
        file_name,
        extension,
        file_hash,
        created_at
        ) VALUES (
        #{id, typeHandler=mcdodik.springai.db.mybatis.handler.UUIDTypeHandler},
        #{content},
        #{embedding, typeHandler=mcdodik.springai.db.mybatis.handler.FloatListTypeHandler},
        #{type},
        #{source},
        #{chunkIndex},
        #{fileName},
        #{extension},
        #{hash},
        #{createdAt}
        )
    </insert>

</mapper>
