<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mcdodik.springai.rag.mybatis.RagChunkMapper">

    <resultMap id="RagChunkResultMap" type="mcdodik.springai.rag.db.RagChunk">
        <constructor>
            <arg name="id" column="id" javaType="java.util.UUID"
                 typeHandler="mcdodik.springai.rag.mybatis.UUIDTypeHandler"/>
            <arg name="content" column="content" javaType="java.lang.String"/>
            <arg name="embedding" column="embedding" javaType="java.util.List"
                 typeHandler="mcdodik.springai.rag.mybatis.FloatListTypeHandler"/>
            <arg name="type" column="type" javaType="java.lang.String"/>
            <arg name="source" column="source" javaType="java.lang.String"/>
            <arg name="chunkIndex" column="chunk_index" javaType="java.lang.Integer"/>
            <arg name="createdAt" column="created_at" javaType="java.time.LocalDateTime"/>
            <arg name="summary" column="summary" javaType="java.lang.String"/>
        </constructor>
    </resultMap>


    <select id="searchByEmbedding" resultMap="RagChunkResultMap">
        <![CDATA[
        SELECT id,
               content,
               embedding,
               type,
               source,
               chunk_index,
               created_at,
               summary
        FROM public.rag_chunks
        ORDER BY embedding <-> CAST(
                #{embedding, jdbcType=OTHER, typeHandler=mcdodik.springai.rag.mybatis.FloatListTypeHandler}
            AS vector
                                 ) LIMIT 5
        ]]>
    </select>

    <insert id="insert" parameterType="mcdodik.springai.rag.db.RagChunk">
        INSERT INTO rag_chunks (id, content, embedding, type, source, chunk_index, created_at, summary)
        VALUES (#{id, typeHandler=mcdodik.springai.rag.mybatis.UUIDTypeHandler},
                #{content},
                #{embedding, typeHandler=mcdodik.springai.rag.mybatis.FloatListTypeHandler},
                #{type},
                #{source},
                #{chunkIndex},
                #{createdAt},
                #{summary})
    </insert>

</mapper>
